* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(240, 240, 240);
}

h5 {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
}

p {
    font-family: 'Encode Sans', sans-serif;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 800;
}

/* =================Header-Section================= */

.navbar {
    position: sticky;
    top: 0;
    z-index: 999;
}

nav.navbar.bg-body-tertiary {
    background: linear-gradient(rgb(223, 224, 224), rgb(223, 224, 224));
}

.navbar.bg-body-tertiary .navbar-nav .nav-link {
    color: rgba(156, 38, 119, 255);
}

.logo-h {
    margin: -30px 0 0 55px;
}

.navbar-nav .nav-link {
    border-bottom: 3px solid rgb(223, 224, 224);
}

.navbar-nav .nav-item:hover .nav-link {
    border-bottom: 3px solid rgb(37, 150, 190);
}


/* =================After-Collapsing================= */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(156, 38, 119);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: #eee;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(37, 150, 190);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.collapse-icon {
    font-size: 30px;
    color: rgb(3, 94, 136);
    font-weight: bold;
    border: none;
}

.collapse-icon:hover {
    color: rgb(156, 38, 119);
}

/* =================Hero-Section================= */

.hero-main {
    height: auto;
    width: 100%;
    background: #fff;
    padding-bottom: 120px;
    background-color: rgb(240, 240, 240);
}

.video-main {
    padding-top: 10px;
}

.vedio-content-main {
    width: 100%;
    margin: 0 auto;
    padding: 45px;
    background-color: rgb(156, 38, 119);
    border-radius: 20px;
    margin-top: 20px;
}

#video-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #eee;
    color: #eee;
}

/* =================About-Dubai-Section================= */

.about-main {
    height: auto;
    width: 100%;
    position: relative;
    padding-bottom: 170px;
    background-color: rgb(240, 240, 240);
}

.about-heading-main {
    height: 50vh;
    width: 100%;
    background-color: rgb(3, 94, 136);
    border-top-left-radius: 80px;
    position: relative;
}

.about-heading {
    margin-left: 50px;
    line-height: 1.8;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    color: rgb(244, 244, 244);
}

.about-zoom-section {
    height: auto;
    width: 75%;
    top: 90px;
    position: absolute;
    border-top-left-radius: 40px;
    background-color: rgb(240, 240, 240);
}

.about-zoom-main {
    height: auto;
    width: 88%;
    position: relative;
    margin: 0 auto;
    border-top-left-radius: 40px;
    cursor: pointer;
}

.about-zoom-main {
    height: 130%;
    width: 100%;
    overflow: hidden;
}

.about-zoom {
    height: 100%;
    width: 100%;
    transition-duration: 1.7s;
}

.about-zoom:hover {
    transform: scale(1.2);
    opacity: 70%;
}

.content-main h3 {
    font-size: 30px;
}

.about-text {
    height: auto;
    width: 88%;
    text-align: justify;
    margin-top: 20px;
}

.about-text span {
    font-weight: bold;
    color: rgb(3, 94, 136);
    text-decoration: underline;
}

.about-btn {
    background: transparent;
    border: 2px solid #000;
}

/* =================Explore-Dubai-Section================= */

.explore-main {
    height: auto;
    width: 100%;
    position: relative;
    padding: 100px 0;
}

.explore-main .row p {
    font-weight: bold;
    font-size: small;
}

.explore-main .card-text {
    text-align: justify;
    color: #777;
}

.hidden {
    display: none;
}

.explore-main .card {
    background-color: rgb(240, 240, 240);
    box-shadow: rgba(13, 13, 14, 0.5) 0 0 18px;
}

.explore-main .card-btn {
    background-color: transparent;
    border: 2px solid rgb(3, 94, 136);
    color: rgb(3, 94, 136);
    font-weight: 500;
}

.explore-main .cards-btn {
    background-color: rgb(3, 94, 136);
    border: none;
    color: rgb(244, 244, 244);
    font-weight: 400;
}

/* =================Things-to-do-Section================= */

.things-main {
    height: auto;
    width: 100%;
    position: relative;
    padding: 30px 0 60px 0;
}

.things-btn {
    border: 1px solid rgb(3, 94, 136);
    display: block;
    background: linear-gradient(to right, rgb(3, 94, 136) 50%, rgb(240, 240, 240) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
    text-decoration: none;
    display: inline-block;
    color: rgb(3, 94, 136);
    font-weight: 600;
}

.all-btn {
    border: 1px solid rgb(3, 94, 136);
    display: block;
    background: linear-gradient(to right, rgb(3, 94, 136) 50%, rgb(3, 94, 136) 50%);
    text-decoration: none;
    display: inline-block;
    color: #eee;
}

.after-click-btn {
    border: 1px solid rgb(3, 94, 136);
    display: block;
    background: linear-gradient(to right, rgb(3, 94, 136) 50%, rgb(3, 94, 136) 50%);
    text-decoration: none;
    display: inline-block;
    color: #eee;
}

a {
    text-decoration: none;
}

.things-btn:hover {
    background-position: left bottom;
    color: #eee;
}

.button-container {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

/* -----------------Thing-to-do-Cards----------------- */

.cards-container .card-body {
    width: 90%;
    margin: 20px 0 0 35px;
}

.cards-container .card-text-1 {
    color: #777;
    font-size: small;
}

.cards-container .card-title {
    font-size: 25px;
    color: #000;
}

.cards-container .card-title:hover {
    text-decoration: underline;
}

.cards-container .card-text {
    margin-top: 15px;
}

.cards-zoom-main {
    position: relative;
    margin: 0 auto;
}

.zoom-main-2 {
    overflow: hidden;
}

.cards-zoom {
    transition-duration: 1.3s;
}

.cards-zoom:hover {
    transform: scale(1.1);
    opacity: 60%;
}

.bi-suit-heart {
    margin: 0 auto;
}

.heart-btn {
    position: relative;
}

.heart-btn button {
    transition: 0.25s;
}

.heart-btn button:hover,
.heart-btn button:focus {
    border: none;
    color: #fff;
}

.heart-btn button {
    height: 60px;
    width: 60px;
    font-size: 25px;
    left: 250px;
    top: 195px;
    position: absolute;
    background: rgb(156, 38, 119);
    border: 2px solid rgb(156, 38, 119);
    color: #eee;
    border-radius: 5px;
}

.up:hover,
.up:focus {
    box-shadow: inset 0 -60px 0 0 rgb(3, 94, 136);
}

.hidden {
    display: none !important;
}

.see-more-btn {
    margin: 55px 0 0 30px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(3, 94, 136);
}

.see-more-btn:hover {
    text-decoration: underline;
}

.common-heading {
    line-height: 1.8;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Bad Script', cursive;
    cursor: pointer;
}

.common-heading:hover {
    color: rgb(3, 94, 136);
}

/* =================Plan-Your-Trip-Section================= */

.plan-your-trip-main {
    height: auto;
    width: 100%;
    padding-bottom: 70px;
    border-bottom: 5px solid rgb(156, 38, 119);
}

.trip-container {
    white-space: nowrap;
    width: 91%;
    height: auto;
    margin: 0 auto;
    overflow-x: auto;
    padding-bottom: 30px;
}

.trip-card {
    display: inline-block;
}

.trip-card .card {
    background: rgb(240, 240, 240);
    border: none;
    box-shadow: rgba(13, 13, 14, 0.5) 0 0 18px;
}

.trip-card .card-title {
    font-size: 23px;
    color: #000;
}

.trip-card .card-title:hover {
    font-size: 23px;
    color: rgb(15, 122, 172);
    text-decoration: underline;
}


.trip-card .card-text {
    font-size: 15px;
    color: #777;
}

.trip-scroll-btn {
    font-size: 18px;
    font-weight: bold;
    color: rgb(15, 122, 172);
    cursor: pointer;
}

.trip-btn {
    margin: 20px 0 0 90px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: rgb(3, 94, 136);
}

.things-cards {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* =================Apps-Section================= */

.apps-main {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom: 20px;
}

.form-control {
    width: 100%;
    height: 60px;
}

.apps-main p {
    color: #777;
}

.apps-main a {
    color: #777;
    text-decoration: underline;
    line-height: 3.5;
}

/* =================Footer-Section================= */

.footer-main {
    width: 100%;
    position: relative;
    height: auto;
    padding-bottom: 50px;
    background: rgb(3, 94, 136);
}

.social-icons-main i {
    padding: 7px;
    font-size: 25px;
    color: #fff;
}

.footer-list-main h5 {
    font-family: 'Encode Sans', sans-serif;
}

.footer-list-main ul li {
    list-style: none;
    line-height: 2.2;
    color: #fff;
    display: block;
}

.footer-list-main ul li:hover {
    text-decoration: underline;
}

.dropdown {
    display: none;
}

.footer-list-main h5,
li {
    font-size: 15px;
}


@media (min-width:992px) {
    .form-control {
        width: 450px;
    }
}

@media only screen and (max-width: 998px) {

    .footer-list-main ul li {
        display: none;
    }

    .dropdown {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 20px 0;
    }

    .dropdown h5,
    a {
        font-size: 16px;
    }

    .dropdown-content {
        display: none;
        background-color: rgb(3, 94, 136);
        width: 100%;
    }

    .dropdown-btn {
        border: none;
        background: transparent;
        color: #eee;
    }

    .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

}

@media(max-width:1250px) {
    .about-main {
        padding-bottom: 270px;
    }
}

@media(max-width:998px) {
    .about-zoom-section {
        height: auto;
        width: 75%;
        top: 90px;
        position: absolute;
        margin: 40px;
        border-top-left-radius: 40px;
        text-align: center;
    }

    .about-heading {
        font-size: 45px;
        font-weight: bold;
    }

    .about-text {
        width: 100%;
    }

    .content-main h3 {
        font-size: 20px;
    }

    .common-heading {
        line-height: 1.8;
        font-size: 45px;
        font-weight: bold;
        font-family: 'Bad Script',
            cursive;
    }

}

@media(max-width:990px) {
    .about-main {
        padding-bottom: 740px;
    }
}

@media(max-width:900px) {
    .about-main {
        padding-bottom: 640px;
    }
}

@media(max-width:760px) {
    .about-main {
        padding-bottom: 560px;
    }
}

@media(max-width:600px) {
    .about-main {
        padding-bottom: 500px;
    }
}

@media(max-width:550px) {
    .about-main {
        padding-bottom: 450px;
    }
}